$break-large: 1000px
$overlay: rgba(0, 0, 0, 0.4)
$small-badge-size: 30px


#projects
  position: relative
  width: 100%
  min-height: 1000px
  box-sizing: border-box
  float: left
  margin-top: 360px
  padding-bottom: 100px
  @media screen and (max-width: $break-large)
    background: #263238
    color: #fff
  h2
    text-align: center

  .project
    margin-bottom: 60px
    text-align: center

    .links
      width: $small-badge-size+$small-badge-size
      height: $small-badge-size
      margin: 0 auto
      text-align: center
      @media screen and (max-width: $break-large)
        width: 28vw
        height: 14vw

    .links.single
      width: $small-badge-size
      @media screen and (max-width: $break-large)
        width: 14vw
        height: 14vw

    .small
      width: $small-badge-size
      height: $small-badge-size
      background-size: 82%
      display: inline-block
      margin-left: 0
      @media screen and (max-width: $break-large)
        width: 14vw
        height: 14vw

  .project:last-child
    margin-bottom: 100px
    @media screen and (max-width: $break-large)
      margin-bottom: 300px