$overlay: rgba(0, 0, 0, 0.4)
$small-badge-size: 30px

#projects
  position: relative
  width: 100%
  min-height: 1000px
  box-sizing: border-box
  float: left
  margin-top: 50px
  h2
    text-align: center

  .project
    margin-bottom: 60px
    text-align: center

    .links
      width: $small-badge-size+$small-badge-size
      height: $small-badge-size
      margin: 0 auto
      text-align: center
    .links.single
      width: $small-badge-size

    .small
      width: $small-badge-size
      height: $small-badge-size
      display: inline-block
    &:last-child
      margin-bottom: 100px