html:before {
  display: none;
  content: url("../img/bg.jpg"); }

html.no-webp, html {
  min-height: 100%;
  position: relative;
  background: black;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/bg.jpg") repeat-y 0 -400px;
  text-align: center; }

html.webp {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/bg.jpg") repeat-y 0 -400px; }

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 0 60px;
  font-size: 100%;
  color: #fff; }
  body * {
    font-family: "Josefin Sans", sans-serif; }

h1 {
  font-family: "Josefin Slab", serif;
  font-weight: 300;
  font-size: 400%; }
  @media screen and (max-width: 1000px) {
    h1 {
      font-size: 11vw; } }

h2 {
  font-family: "Josefin Slab", serif;
  font-weight: 300;
  font-size: 300%; }
  @media screen and (max-width: 1000px) {
    h2 {
      font-size: 10vw; } }

h3 {
  font-family: "Josefin Slab", serif;
  font-weight: 200;
  font-size: 170%;
  margin-bottom: 0px; }
  @media screen and (max-width: 1000px) {
    h3 {
      font-size: 7vw; } }

.header {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  float: left; }
  @media screen and (max-width: 1000px) {
    .header {
      margin-top: 20vh; } }
  .header h1 {
    margin-top: 100px;
    margin-bottom: 7px;
    clear: both; }
  .header h2 {
    margin-top: 80px; }
    @media screen and (max-width: 1000px) {
      .header h2 {
        font-size: 5vw; } }

cite {
  font-size: 150%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  float: left;
  margin: 0 10px 0 10px; }
  @media screen and (max-width: 1000px) {
    cite {
      font-size: 4vw; } }

span {
  margin-top: 80px;
  display: inline-block; }

span:before, span:after {
  border-top: 1px solid #fff;
  display: block;
  height: 1px;
  content: " ";
  width: 80px;
  position: relative;
  left: 0;
  top: 15px;
  float: left; }

span:after {
  right: 0;
  left: auto; }

p {
  font-weight: 300; }
  @media screen and (max-width: 1000px) {
    p {
      font-size: 4vw; } }

.note {
  font-style: italic;
  font-size: 120%;
  font-weight: 200; }
  @media screen and (max-width: 1000px) {
    .note {
      font-size: 5vw; } }

#scrollProjects {
  margin-top: 100px;
  border: 1px #888 solid;
  display: inline-block;
  padding: 10px; }
  #scrollProjects p {
    margin: 0px;
    display: inline-block;
    color: #ddd;
    letter-spacing: 0.1em; }

.badges {
  width: 100%;
  margin-top: 10px;
  text-align: center; }
  .badges .col {
    position: absolute;
    left: 0;
    right: 0;
    width: 88vw;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto; }

.badge {
  background-size: 80% 80% !important;
  background-repeat: no-repeat !important;
  width: 5.5vw;
  height: 5.5vw;
  float: left;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.6s ease;
  -webkit-backface-visibility: hidden; }
  @media screen and (max-width: 1000px) {
    .badge {
      width: 10vw;
      height: 10vw; } }

.badge:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.html {
  background: url("../img/html.png"); }

.css {
  background: url("../img/css.png"); }

.sass {
  background: url("../img/sass.png"); }

.js {
  background: url("../img/js.png"); }

.jquery {
  background: url("../img/jquery.png"); }

.node {
  background: url("../img/node.png"); }

.rails {
  background: url("../img/rails.png"); }

.php {
  background: url("../img/php.png"); }

.mysql {
  background: url("../img/mysql.png"); }

.postgres {
  background: url("../img/postgres.png"); }

.ios {
  background: url("../img/ios.png"); }

.git {
  background: url("../img/git.png"); }

.bootstrap {
  background: url("../img/bootstrap.png"); }

.ps {
  background: url("../img/ps.png"); }

.pr {
  background: url("../img/pr.png"); }

.ae {
  background: url("../img/ae.png"); }

.deviant {
  background: url("../img/deviant.png"); }

.github {
  background: url("../img/github.png"); }

.twitter {
  background: url("../img/twitter.png"); }

.link {
  background: url("../img/link.png"); }

.vcf {
  background: url("../img/vcf.png"); }

.footer {
  height: auto;
  width: auto;
  margin: 20px 40px 10px 10px;
  padding-left: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(10, 10, 10, 0.65); }
  .footer .badge {
    width: 50px;
    height: 50px;
    margin: 10px 0px 5px 8px;
    float: right; }

/*# sourceMappingURL=main.css.map */
